@{
    ViewData["Title"] = "La pizzeria di Giggino";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand text-danger">Pizzeria 'nda Giggino</span>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Ciao</h1>
    </div>
</body>

</html>
